
.check {
	margin: 0 auto;	
}

.left{

	text-align: left;
}
.right{
	text-align: right;
}
	
.btn {
 float:right;
}



.songs {
	background: #FFB4B0;
	border: 2px solid black;
    margin: 15px auto;
    padding: 2px 2px;
}