/*header styles*/
.header {
	background: #FFB4B0;
	border: 2px solid black;
    margin: 15px auto;
    padding: 2px 2px;
}
h2 {
	display: inline;
	padding-right: .5em;
	height: 20px;
	font-size: 20px;
}
/*sidebar styles*/
.sidebar {
	background: #4DD7FA; 
	border: 2px solid black;
	display: block;
	width: 29%;
	float: left;
	height: 425px;
}

/*Main box styles*/
.main {
	background: #FEFAC0;  
	border: 2px solid black;
	display: block;
	width: 69%;
	float: right;
	height: 425px;
}

/*main paragraph styles*/
.main p {
	display: inline;
	padding-right: 5px; 
}

/*checkbox*/
.check {
	margin: 0 auto;	
}

.left{

	text-align: left;
}
.right{
	text-align: right;
}
	
.btn {
 float:right;
}

#javascript {
	background: #FEFAC0;  
	border: 2px solid black;
	display: block;
	width: 69%;
	float: right;
	height: 425px;
}

.songs {
	background: #FFB4B0;
	border: 2px solid black;
    margin: 15px auto;
    padding: 2px 2px;
}
/*JSON*/
#jsonMusic, #jsonMusic2{
	background: #FEFAC0;  
	border: 2px solid black;
	display: inline-block;
	width: 69%;
	float: right;
	height: 425px;
}


.songs2 {
	background: #FFB4B0;
	border: 2px solid black;
    margin: 15px auto;
    padding: 2px 2px;	
}
.json3 {
	background: #FFB4B0;
	border: 2px solid black;
    margin: 15px auto;
    padding: 2px 2px;	
}
/*Delete button style */
#delete {
	float:right;
}

/*Add button*/
#more {
	margin-left: 100px;
	margin-top: 50px;
}
